@font-face {
	font-family: "opensans-light";
	src: url("../font/OpenSans-Light.ttf");
}

body {
	font-family: "opensans-light";
}

.tittle {
	text-align: center;
	margin-top: 3vh;
	margin-bottom: 50px;
}

.tittle h2 {
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 100;
}
.paragraph{
	margin-bottom:0;
}
.custom-primary {
	text-align: center;
	border: 2px solid #374951 !important;
	padding: 10px 60px !important;
	font-weight: 600;
	color: #374951;
	cursor: pointer;
	background-color: transparent;
	margin: 10px 30px;
	width:350px;
}

.main-section {
	height: 100vh;
}

.custom-primary:hover {
	background-color: #374951;
	color: #fff;
	border: 2px solid #374951;
}

.nomoogle-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 380px;
}

.install {
	font-size: 2.2em;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 20px;
}

li {
	font-size: 18px;
	list-style: decimal;
	color: #374951;
}

.feature-section {
	padding-top: 100px;
}

.feature-one, .feature {
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.chrome-gif {
	margin: 20px auto;
}

.gif {
	width: 350px;
	height: auto;
}

.d-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
}

.feature-text {
	font-size: 2em;
	font-weight: 550;
}

.feature-image {
	width: 550px;
	height: auto;
}
.first-feature-image{
	width:400px;
	height:auto;
}

p {
	color: #374951;
	font-size: 1.2em;
	font-weight: 500;
}

.feature p {
	font-weight: 600;
}

.footer-section {
	margin-top: 30px;
}

.feature-detail {
	font-size: 18rem;
}

.feature-section {
	margin-bottom: 100px;
}

.producthunt {
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 9000;
	padding: 10px;
	cursor: pointer;
}

.producthunt img {
	width: 90px;
	margin: 0 auto;
	display: block;
}

.producthunt:hover {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes shake {
	from, to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

.btn img {
	width: 32px;
	margin-right: 17px;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%, 100% {
		transform: rotate(0);
	}
	20%, 60% {
		transform: rotate(-25deg);
	}
	40%, 80% {
		transform: rotate(10deg);
	}
}

.copyright-link {
	font-size: 17px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.copyright-link p {
	margin: 0;
	text-align: center;
	color: #173947;
}

.copyright-link a {
	color: #173947;
}

.copyright-link span {
	color: red;
}

.copyright-link .join-us {
	margin-left: 10px;
	color: #374951;
	font-size: 1.3em;
	display: grid;
	align-content: center;
}

.copyright-link img {
	width: 20px;
	height: 20px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.chrome-heading {
	font-size: 1.5em;
	font-weight: 600;
}

.extension-button {
	text-align: right;
}

@media only screen and (max-width:1199px) {
	.custom-button, .custom-primary {
		text-align: center;
		padding: 15px 40px;
	}
	.nomoogle-image {
		width: 600px;
	}
	.tittle {
		text-align: center;
		margin-top: 10vh;
	}
	.chrome-heading {
		font-size: 1.2em;
	}
	p {
		font-size: 1.1em;
	}
	.feature-image{
		width:450px;
	}
}

@media only screen and (max-width:991px) {
	.container {
		max-width: 900px;
	}
	.feature-text {
		font-size: 1.8em;
	}
	p {
		font-size: 1em;
	}
}

@media only screen and (max-width:768px) {
	.d-grid {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width:767px) {
	.extension-button {
		text-align: center;
	}
	.firefox-extension {
		text-align: center;
	}
	.nomoogle-image {
		width: 500px;
	}
	.feature-text {
		font-size: 1.2em;
	}
	p {
		font-size: 0.9em;
	}
	.custom-primary {
		width: 350px;
	}

}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
	.nomoogle-image {
		width: 300px;
	}
	.copyright-link .join-us {
		margin-left: 10px;
		color: #374951;
		font-size: 0.9em;
		display: grid;
		align-content: center;
	}
	.chrome-heading {
		font-size: 0.9em;
	}
	p {
		font-size: 0.7em;
	}
	.feature-image {
		width: 300px;
		height: auto;
	}
}

@media only screen and (max-width:460px) {
	.copyright-link .join-us {
		font-size: 0.7em;
	}
}

@media only screen and (max-width:440px) {
	.tittle h2 {
		font-size: 2.2rem;
	}
	.producthunt img {
		width: 80px;
		margin: 0 auto;
		display: block;
	}
	.feature-image {
		width: 300px;
		height: auto;
	}
	.first-feature-image{
		width:300px;
	}
	.custom-primary {
		width: 320px;
		padding:10px 5px !important;
	}
}

@media only screen and (max-width:375px) {
	.nomoogle-image {
		width: 200px;
	}
	.custom-primary {
		text-align: center;
		border: 2px solid #374951 !important;
		padding: 15px 30px !important;
		font-weight: 600;
		color: #374951;
		cursor: pointer;
		background-color: transparent;
		margin: 10px 20px;
	}
	.producthunt img {
		width: 55px;
	}
	.feature-detail {
		font-size: 10rem;
	}
	.feature-text {
		font-size: 1.1em;
	}
	p {
		font-size: 0.7em;
	}
}

@media only screen and (max-width:320px) {
	.gif {
		width: 300px;
	}
	.custom-primary {
		width: 280px;
		padding: 10px 10px !important;
		margin: 5px;
	}
	p {
		margin-bottom: 2px;
	}
}